<%- include('./navigation') %>
<header class="masthead" style="background-image: url('<%= themeConfig.domain %>/media/images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if (typeof headerTitle !== 'undefined') { %>
          <!-- 没Title为其他页面Header -->
          <% if (typeof headerType !== 'undefined' && headerType === 'Post') { %>
            <!-- 没Title并且有headerType为Post：文章Header -->
            <div class="post-heading">
              <span class="tags">
                <% post.tags.forEach(function(tag) { %>
                <a href="<%= tag.link %>" class="tag"><%= tag.name %></a>
                <% }); %>
              </span>
              <h1><%= headerTitle %></h1>
              <span class="meta">
                Posted on
                <%= post.dateFormat %>，<%= post.stats.text %>
              </span>
            </div>
          <% } else { %>
            <!-- 其他页面（archives、tags、about...）Header -->
            <div class="sub-site-heading">
              <h1 class="tag-tl"><%= headerTitle %></h1>
            </div>
          <% } %>
        <% } else { %>
          <!-- 首页Header -->
          <div class="site-heading">
            <img class="user-avatar" src="/images/avatar.png" alt="头像">
            <h1><%= themeConfig.siteName %></h1>
            <span class="subheading"><%- themeConfig.siteDescription %></span>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</header>