<html lang="zh">

<head>
    <%- include('./includes/head', { siteTitle: `关于 - ${themeConfig.siteName}` }) %>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"> -->
</head>

<body>
    <%- include('./includes/header', { headerTitle : 'About'}) %>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <%- site.customConfig.about %>
                <div class="comment" style="text-align: center;">
                    <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
                    <% if (commentSetting.commentPlatform === 'gitalk') { %>
                    <%- include('./includes/gitalk') %>
                    <% } %>
                    <% if (commentSetting.commentPlatform === 'disqus') { %>
                    <%- include('./includes/disqus') %>
                    <% } %>
                    <% } %>
                    <% if(typeof site.customConfig['valine']!=='undefined' && site.customConfig['valine']) { %>
                    <%- include('./includes/valine') %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./includes/footer') %>
    <% if (site.customConfig.live2d){ %>
    <%- include('./includes/live2d') %>
    <% } %>
</body>
</html>