<!DOCTYPE html>
<html>

<head>
  <%- include('./includes/head', { siteTitle: `归档 | ${themeConfig.siteName}` }) %>
</head>

<body>
  <!-- Navigation -->
  <%- include('./includes/header', { headerTitle : 'Archives'}) %>
  <%- include('./includes/post-list-archives') %>
  <%- include('./includes/footer') %>
  <% if (site.customConfig.live2d){ %>
  <%- include('./includes/live2d') %>
  <% } %>
</body>

</html>