<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>
  <%- include('./includes/header') %>
  <%- include('./includes/post-list') %>
  <% let articles = 0; site.posts.forEach(function(post) { if (!post.hideInList) articles++;});%>
  <%- include('./includes/pagination', { logs: articles, pageSize: themeConfig.postPageSize, url: '/page/', index: 4}) %>
  <%- include('./includes/footer') %>
  <% if (site.customConfig.live2d){ %>
    <%- include('./includes/live2d') %>
  <% } %>
</body>

</html>