<!DOCTYPE html>
<html>

<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  <meta property="og:description" content="<%= post.title %>" />
  <meta property="og:url" content="<%= post.link %>" />
  <meta property="og:locale" content="zh-CN" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="<%= themeConfig.siteName %>" />
  <!-- <script src="../assets/styles/scripts/tocScript.js"></script> -->
</head>

<body>
  <!-- Navigation -->
  <%- include('./includes/navigation') %>
  <!-- Page Header -->
  <%- include('./includes/header', { headerTitle : `${post.title}` , headerType:'Post'}) %>
  <!-- Post Content -->
  <article id="post-content-article">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto post-content-container">
          <% if (themeConfig.showFeatureImage && post.feature) { %>
          <img class="post-feature-header-image" src="<%= post.feature %>" alt="封面图">
          </img>
          <% } %>
          <%- post.content %>
          <div class="toc-container"><%- post.toc %></div>
          <% if (post.nextPost && !post.hideInList) { %>
          <hr />
          <p class="next-post">下一篇：
            <a href="<%= post.nextPost.link %>">
              <span class="post-title">
                <%= post.nextPost.title %>&rarr;
              </span>
            </a>
          </p>
          <% } %>
          <div class="comment" style="text-align: center;">
            <% if(site.customConfig['valine'] && site.customConfig['visitor']) { %>
            <span id="/post/<%= post.link.split('/')[4] %>/" class="leancloud_visitors"
              data-flag-title="<%= post.title %>">
              <em class="post-meta-item-text">阅读量 </em>
              <i class="leancloud-visitors-count">loading...</i>
            </span>
            <% } %>

            <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
            <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./includes/gitalk') %>
            <% } %>
            <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./includes/disqus') %>
            <% } %>
            <% } %>
            <% if(typeof site.customConfig['valine']!=='undefined' && site.customConfig['valine']) { %>
            <%- include('./includes/valine') %>
            <% } %>
          </div>
        </div>
      </div>
  </article>
  <%- include('./includes/footer') %>
  <% if (site.customConfig.live2d){ %>
  <%- include('./includes/live2d') %>
  <% } %>
  <script src="<%= themeConfig.domain %>/media/scripts/tocScript.js"></script>
</body>

</html>