<!DOCTYPE html>
<html>

<head>
  <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>

<body>
  <%- include('./includes/header', { headerTitle : `#${tag.name}`}) %>
  <%- include('./includes/post-list') %>
  <%- include('./includes/footer') %>
  <% if (site.customConfig.live2d){ %>
    <%- include('./includes/live2d') %>
  <% } %>
</body>

</html>