<!DOCTYPE html>
<html>

<head>
  <%- include('./includes/head', { siteTitle: `标签列表 | ${themeConfig.siteName}` }) %>
</head>

<body>
  <%- include('./includes/header', { headerTitle : 'Tags'}) %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% tags.forEach((tag) => { %>
        <div class="post-preview tag-list">
          <a href="<%= tag.link %>" class="tag">
            <%= tag.name %>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <%- include('./includes/footer') %>
  <% if (site.customConfig.live2d){ %>
  <%- include('./includes/live2d') %>
  <% } %>
</body>

</html>